<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.BannerDao">
    <select id="queryAll" resultType="com.baizhi.entity.Banner">
        select id,title,imgPath,description,status,createDate
        from t_banner
        limit #{start},#{rows}
    </select>

    <select id="queryTotal" resultType="int">
        select count(id)
        from t_banner
    </select>

    <select id="queryOne" resultType="com.baizhi.entity.Banner">
        select id,title,imgPath,description,status,createDate
        from t_banner
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.baizhi.entity.Banner">
        insert into t_banner VALUES (#{id},#{title},#{imgPath},#{description},#{status},#{createDate})
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete from t_banner
        where id = #{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.Banner">
        update t_banner set title = #{title},imgPath = #{imgPath},description = #{description},status = #{status},createDate = #{createDate}
        where id = #{id}
    </update>

</mapper>