<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.CourseDao">
    <select id="queryAll" resultType="com.baizhi.entity.Course">
        select id,title,marking,createTime,uid
        from t_course
        limit #{start},#{rows}
    </select>

    <select id="queryTotal" resultType="int">
        select count(id)
        from t_course
    </select>

    <select id="queryOne" resultType="com.baizhi.entity.Course">
        select id,title,marking,createTime
        from t_course
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.baizhi.entity.Course">
        insert into t_course values(#{id},#{title},#{marking},#{createTime},#{uid})
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete from t_course where id = #{id}
    </delete>

    <update id="update" parameterType="com.baizhi.entity.Course">
        update t_course set title = #{title},marking = #{marking},createTime = #{createTime}
        where id = #{id}
    </update>

</mapper>