<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDao">
    <select id="queryAll" resultType="com.baizhi.entity.Guru">
        select id,name,headPic,sex,status
        from t_guru
        limit #{start},#{rows}
    </select>

    <select id="queryAlls" resultType="com.baizhi.entity.Guru">
        select id,name,headPic,sex,status
        from t_guru
    </select>

    <select id="queryTotal" resultType="int">
        select count(id)
        from t_guru
    </select>

    <select id="queryOne" resultType="com.baizhi.entity.Guru">
        select id,name,headPic,sex,status
        from t_guru
        where id = #{id}
    </select>

    <insert id="insert" parameterType="com.baizhi.entity.Guru">
        insert into t_guru values(#{id},#{name},#{headPic},#{sex},#{status})
    </insert>

    <delete id="delete" parameterType="java.lang.String">
        delete from t_guru
        where id = #{id}
    </delete>


    <update id="update" parameterType="com.baizhi.entity.Guru">
        update t_guru set name = #{name},headPic = #{headPic},sex = #{sex},status = #{status}
        where id = #{id}
    </update>

</mapper>